@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf") format("opentype");
}
@font-face {
    font-family: PoppinsBold;
    src: url("fonts/Poppins-Bold.ttf") format("opentype");
}

p, h1, h2, h3, h4, a, li{
    width: 100%;
    font-family: "Poppins";
}
.container{
    max-width: 1080px;
}
.top-banner .imagem img{
    min-width: 100%;
    object-fit: cover;
}

/* //////////// */
.section-1{
    padding: 40px 0;
}
.section-1 .content{
    padding: 50px;
}
.section-1 .content{
    font-size: 19px;
}
.section-1 .content ul{
    padding: 0 !important;
    margin: 0;
}
.section-1 .content ul li{
    display: inline;
}
.section-1 .content ul li::before{
    content: "  • ";
}
.section-1 .video{
    justify-content: center;
}
.section-1 .video iframe{
    width: 95%;
    height: 250px;
}
.box-marcas{
    font-family: "Poppins";
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 60px 0;
}
.box-marcas .texts p{
    font-size: 20px !important;
    padding: 20px 0;
}

.box-marcas .marca{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 290px;
    height: 320px;
    margin: 0 00px
}
.box-marcas .marca.guttemberg{
    background-color: #FF7022;
}
.box-marcas .marca.jabuti{
    background-color: #00374E;
}
.box-marcas .marca.loucos{
    background-color: #DAB13B;
}
.box-marcas .imagem{
    display: flex;
    width: 120px;
}
.box-marcas .content{
    text-align: center;
    font-size: 14px;
    width: 200px;
    color: #fff;
}

.section-marca{
    padding: 0;
    background-color: #F6F6F6;
}
.section-marca .column.marca{
    padding: 0;
    background-color: #F6F6F6;
    align-items: center;
    justify-content: center;
}
.section-marca .column.marca .imagem{
    display: flex;
    
}

.section-marca .column.content .content {
    
    padding: 50px 100px 0 50px;
}

.section-marca .column.content .content h1{
    font-size: 35px;
    font-family: PoppinsBold;
}
.section-marca .column.content .content.jabuti h1{
    color: #01415C;

}
.section-marca .column.content .content.guttemberg h1{
    color: #FF7022;
}
.section-marca .column.content .content p{
    font-size: 20px;
    font-family: Poppins;
    padding: 10px 0;
}

.section-selo ul{
    
    display: block; list-style-type: disc; margin-top: 1em; margin-bottom: 1 em; margin-left: 0; margin-right: 0; padding-left: 40px;
}
.section-selo .column.selo{
    display: flex;
    align-items: center;
}

.section-selo .column.selo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.section-selo .column.selo .container-selo .content-selo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 0;
    width: 100%;
}
.section-selo .column.selo .container-selo .imagem{
    width: 250px;
    float: left;
}
.section-selo .column.selo .container-selo p{
    width: 350px;
    font-size: 22px;
    margin: 10px;
}
.section-selo .column.selo .container-selo a{
    margin: 10px;
    border-radius: 40px;
    border: none;
    background-color: #17D443;
    color: white;
    padding: 6px 25px;
    font-size: 13px;
    width: 150px;
    text-align: center;
}
.section-selo .column.selo .container-selo span{
    width: 350px;
    font-size: 11px;
    margin: 10px;

}

.section-selo .column.texts{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section-end .box-container{
    margin: 60px 5% 0;
    
}
.section-end .box-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-end .box-content .content{
    width: 300px;
    height: 85px;
    margin: 0 0 40px 0;
    color: rgb(238, 238, 238);
    font-family: Poppins;
    text-align: center;
    padding: 16px 10px;
    font-size: 13.5px;
    border-radius: 0 0 3px 3px;

}
.section-end .box-content img{
    width: 300px;
    border-radius: 3px 3px 0 0;
}

.section-equipe {
    margin: 50px 0;
}
.section-equipe .adjust{
    padding: 50px 100px;
}

.section-equipe .image-carousel{
    width: 150px;
    
    margin: 0 20px;
}

.section-equipe .box-pessoa{
    margin-top: 50px;
    background-color: #ECECEC;
    width: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
}
.section-equipe .box-pessoa .image{
    width: 150px;
    height: 150px;
}
.section-equipe .box-pessoa .nome{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.section-equipe .box-pessoa .cargo{
    margin-top: 10px;
    letter-spacing: 7px;
}
.section-equipe .box-pessoa .descricao{
    margin-top: 40px;
    text-align: center;
}

.black{
    background-color: #181818;
}

.orange{
    background-color: #FF7022;
}