@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf") format("opentype");
}
@font-face {
    font-family: PoppinsBold;
    src: url("fonts/Poppins-Bold.ttf") format("opentype");
}


.top-banner .imagem{
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}
.top-banner .imagem img{
    min-width: 100%;
    object-fit: cover;
}

/* //////////// */

.box-marcas{
    font-family: "Poppins";
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box-marcas .marca{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 290px;
    height: 320px;
    margin: 40px;
    padding: 30px;
}
.box-marcas .marca.guttemberg{
    background-color: #FF7022;
}
.box-marcas .marca.jabuti{
    background-color: #00374E;
}
.box-marcas .marca.loucos{
    background-color: #DAB13B;
}
.box-marcas .imagem{
    display: flex;
    width: 120px;
}
.box-marcas .content{
    text-align: center;
    font-size: 14px;
    width: 200px;
    color: #fff;
}

.section-marca .column.marca{
    padding: 0;
}
.section-marca .column.marca .imagem{
   float: right;
}

.section-marca .column.content .content{
    
    padding: 50px 100px 0 50px;
    width: 700px;
}
.section-marca .column.content{
    background-color: #F6F6F6;
    min-height: 500px ;
    
}
.section-marca .column.content .content h1{
    font-size: 35px;
    font-family: PoppinsBold;
}
.section-marca .column.content .content.jabuti h1{
    color: #01415C;

}
.section-marca .column.content .content.guttemberg h1{
    color: #FF7022;
}
.section-marca .column.content .content p{
    font-size: 20px;
    font-family: Poppins;
    padding: 10px 0;
}

.section-selo .column.selo .container-selo{
    margin-right: 200px;
    float: right;
    font-family: Poppins;
}
.section-selo .column.selo .container-selo .content-selo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 0;
}
.section-selo .column.selo .container-selo .imagem{
    width: 250px;
    float: left;
}
.section-selo .column.selo .container-selo p{
    width: 350px;
    font-size: 18px;
    margin: 10px;
}
.section-selo .column.selo .container-selo a{
    margin: 10px;
    border-radius: 40px;
    border: none;
    background-color: #17D443;
    color: white;
    padding: 6px 25px;
    font-size: 12px;

}
.section-selo .column.selo .container-selo span{
    width: 350px;
    font-size: 10px;
    margin: 10px;

}