@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf") format("opentype");
}
@font-face {
    font-family: PoppinsBold;
    src: url("fonts/Poppins-Bold.ttf") format("opentype");
}

.body{
    width: 100%;
}
.top-banner .imagem{
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}
.top-banner .imagem img{
    min-width: 100%;
    object-fit: cover;
}

/* //////////// */

.box-marcas{
    font-family: "Poppins";
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 60px 0;
}
.box-marcas .marca{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 290px;
    height: 320px;
    padding: 30px;
    margin: 0 00px
}
.box-marcas .marca.guttemberg{
    background-color: #FF7022;
}
.box-marcas .marca.jabuti{
    background-color: #00374E;
}
.box-marcas .marca.loucos{
    background-color: #DAB13B;
}
.box-marcas .imagem{
    display: flex;
    width: 120px;
}
.box-marcas .content{
    text-align: center;
    font-size: 14px;
    width: 200px;
    color: #fff;
}

.section-marca .column.marca{
    padding: 0;
    background-color: #F6F6F6;
}
.section-marca .column.marca .imagem{
    float: right;
}

.section-marca .column.content .content {
    
    padding: 50px 100px 0 50px;
}
.section-marca .column.content{
    background-color: #F6F6F6;
}
.section-marca .column.content .content h1{
    font-size: 35px;
    font-family: PoppinsBold;
}
.section-marca .column.content .content.jabuti h1{
    color: #01415C;

}
.section-marca .column.content .content.guttemberg h1{
    color: #FF7022;
}
.section-marca .column.content .content p{
    font-size: 20px;
    font-family: Poppins;
    padding: 10px 0;
}

.section-selo ul{
    
    display: block; list-style-type: disc; margin-top: 1em; margin-bottom: 1 em; margin-left: 0; margin-right: 0; padding-left: 40px;
}
.section-selo .column.selo{
    display: flex;
    align-items: center;
}

.section-selo .column.selo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-selo .column.selo .container-selo .content-selo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 0;
}
.section-selo .column.selo .container-selo .imagem{
    width: 250px;
    float: left;
}
.section-selo .column.selo .container-selo p{
    width: 350px;
    font-size: 22px;
    margin: 10px;
}
.section-selo .column.selo .container-selo a{
    margin: 10px;
    border-radius: 40px;
    border: none;
    background-color: #17D443;
    color: white;
    padding: 6px 25px;
    font-size: 13px;

}
.section-selo .column.selo .container-selo span{
    width: 350px;
    font-size: 11px;
    margin: 10px;

}

.section-selo .column.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-selo .column.video .container-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-size: 22px;
    margin: 10px;
    font-family: Poppins;
    padding: 100px 0;
    font-weight: 200;
}
.section-selo .column.video .container-video iframe{
    width: 100%;
    height: 315px;
}
.section-end .box-container{
    margin: 60px 5% 0;
    
}
.section-end .box-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-end .box-content .content{
    width: 300px;
    height: 85px;
    margin: 0 0 40px 0;
    color: rgb(238, 238, 238);
    font-family: Poppins;
    text-align: center;
    padding: 16px 10px;
    font-size: 13.5px;
    border-radius: 3px 3px 0 0;

}
.section-end .box-content img{
    width: 300px;
    border-radius: 3px 3px 0 0;
}

.black{
    background-color: #181818;
}

.orange{
    background-color: #FF7022;
}