.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    text-align: center;
    padding: 50px 0;
}

.footer .contato, .rede-sociais, .sugetoes, .anuncios, .perguntas{
    padding: 10px 0;
}

.footer .title {
    font-size: 15px;
    color: #a7a7a7;
}
.footer .subtitle {
    font-size: 13px;
    color: #ffffff;
}