@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Medium.ttf") format("opentype");
}

.navbar{
    box-shadow: 2px 1px 2px #00000029;
    font-family: "Poppins";
}
.navbar img{
    max-width: unset;
    max-height: unset;
}

.navbar .navbar-start{
    flex: 1; 
    justify-content: center;
    
 }
.navbar .navbar-start ul{
    display: flex;
    align-items: center;
    
 }
 .navbar .navbar-start .navbar-item{
    padding: 0px 20px;    
    text-transform: uppercase;
 }
 .navbar .navbar-start .nav-icons{
    display: flex;
 }
 .navbar .navbar-start .nav-icons a{
    padding: 5px;
}

 .navbar .navbar-start li a{
    font-size: 13px;
    color: #2D1F00;
    text-transform: uppercase;
    font-weight: 600;
 }
.navbar .navbar-start li a:hover{
    color: #3D9B35;
    transition: 0.1s;
}
.navbar .navbar-start li .active{
    color: #3D9B35;
}

@media (max-width: 1250px) 
{
    .navbar .navbar-start .navbar-item{
        padding: 20px 15px;    
    }
}
@media (max-width: 1023px) 
{
    .navbar{
        display: flex;
        justify-content: center;
        
    }
    
    .navbar .navbar-brand{
        padding: 0;
        display: block;
    }

    .burger-menu{
        position: absolute;
        left: 0;
    }
}