@media only screen and (max-width: 1300px) {
    
    .section-marca .column.content .content{
        width: 20px;
        margin: 0 !important;
        padding: 30px 100px 0 50px;

    }
    .section-marca .column.content .content p{
        width: 450px;
        font-size: 15px;
    }

    .section-selo .column.video .container-video{
        width: 500px;
        height: 315px;
    }
    .section-selo .column.selo .container-selo p{
        font-size: 19px;
    }
    .section-selo .column.video .container-video{
        font-size: 19px !important;
    }
    .section-selo .column.video .container-video iframe{
        width: 500px;
        height: 315px;
    }
}

@media only screen and (max-width: 768px) {
    .section-marca .column.content .content{  
        padding: 50px 100px 0 20px;

    }
    .section-marca .column.content .content h1{  
        padding: 0;
        text-align: center;

    }
    .section-marca .column.content .content p{  
        padding: 0;
        width: 300px;
    }

    .section-selo .column.video .container-video{
        width: 200px !important;
        padding:0;
        height:550px;
    }
    .section-selo .column.video .container-video p{
        width: 410px !important;
    }
    .section-selo .column.video .container-video li{
        width: 150px !important;
    }
    .section-selo .column.video .container-video iframe{
        width: 400px;
        height: 315px;
    }
    .section-selo .column.selo .container-selo .content-selo{
        padding: 20px 0 !important;
        align-items: center;
        text-align: center;

    }

    #column-first, #column-last{
        display: flex; justify-content: center !important; padding:0 !important
    }

    .section-marca .column.marca .imagem{
        float: none;
    }

    .section-selo .column.selo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

}

@media only screen and (max-width: 360px) {

    .section-selo .column.video .container-video{
        width: 100% !important;
        height: 550px !important;
    }
    .section-selo .column.video .container-video p{
        width: 100% !important;
    }
    .section-selo .column.video .container-video li{
        width: 100% !important;
    }
    .section-selo .column.video .container-video iframe{
        width: 350px;
        height: 250px;
    }

    #column-first, #column-last{
        display: flex;
        justify-content: center !important; 
        padding:0 !important
    }

}